@mixin hover-bg {
  background: url("#{$img-base}tl.png") left center no-repeat, url("#{$img-base}tr.png") right center no-repeat #3775BD;
  background-size: auto 100%;
  color: #fff;
}
.header {
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
}
.logo-search {
  text-align: center;
  margin: 30px 0;
  .sports-meet {
    width: 765px;
    height: 112px;
    @include base-bg;
    background-image: url("#{$img-base}theme.png");
  }
  .search-box {
    width: 295px;
    text-align: right;
    padding-bottom: 10px;
    .search-form {
      width: 220px;
      float: right;
      height: 36px;
      position: relative;
      &:after {
        @include pseudo-class;
        width: 20px;
        height: 20px;
        @include base-bg;
        background-image: url("#{$img-base}search-icon.png");
        right: 20px;
      }
    }
    .search {
      width: 220px;
      height: 36px;
      border: 1px solid $theme-color;/*no*/
      border-radius: 36px;
      padding: 0 20px;
      background: #fff;
    }
    .submit {
      display: none;
    }
  }
  .s-img {
    width: 468px;
    height: 112px;
    @include base-bg;
    background-image: url("#{$img-base}Hulunbuir.png");
    background-size: 468px 97px;
    background-position: center 30px;
  }
}
.tabs {
  border-bottom: 1px solid $theme-color;
  font-size: 16px;
  padding: 0 0 3px 30px;
  width: 1300px;
  .tab {
    padding: 10px 29px;
    background: #FFFEF7;
    display: inline-block;
    &.active {
      @include hover-bg
    }
    &:hover {
      @include hover-bg
    }
  }
}
