<<<<<<< HEAD
@mixin td-hover {
  color: #fff;
  border-radius: 50%;
  background: $theme-color;
}
=======
>>>>>>> cf8acaf34946d01af07f72c1242d8c69350ee8e1
.game-content {
  width: 1140px;
  min-height: 278px;
  background: {
    repeat: no-repeat;
    size: 100% 100%;
    image: url("#{$img-base}game-border.png");
  };
  margin-top: 15px;
  .inline-box {
    vertical-align: top;
  }
  .calendar-box {
    width: 550px;
<<<<<<< HEAD
    text-align: center;
    .feb {
      width: 250px;
      font-size: 16px;
      color: $theme-color;
      letter-spacing: 4px;
      font-weight: bold;
      margin: 25px auto 15px;
      height: 30px;
      line-height: 30px;
      background: url("#{$img-base}563left.png") left center no-repeat,
                  url("#{$img-base}563right.png") right center no-repeat;
      background-size: 26px 30px;
      span {
        font-size: 24px;
      }
    }
    .table {
      margin: 0 auto;
      line-height: 30px;
    }
    th{
      width: 64px;
      color: $theme-color;
      font-size: 16px;
    }
    td{
      font-size: 16px;
      cursor: pointer;
      .inner-date {
        width: 30px;
        height: 30px;
        margin: 0 auto;
      }
      &.active{
        .inner-date{
          @include td-hover;
        }
        
      }
      &:hover {
        .inner-date {
          @include td-hover;
        }
      }
    }
=======
>>>>>>> cf8acaf34946d01af07f72c1242d8c69350ee8e1
  }
  .game-lists {
    float: right;
    padding: 25px 59px 25px 20px;
    width: 570px;
    font-size: 16px;
    .game-list {
      line-height: 45px;
      .game-title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 360px;
        display: inline-block;
        vertical-align: middle;
        float: left;
        .game-icon {
          width: 8px;
          height: 16px;
          vertical-align: middle;
          margin: -4px 10px 0 0;
        }
      }
      .date {
        float: right;
        color: $date-color;
        vertical-align: middle;
      }
    }
  }
}
