@mixin td-hover {
  color: #fff;
  border-radius: 50%;
  background: $theme-color;
}

.game-content {
  width: 1140px;
  min-height: 278px;
  background: {
    repeat: no-repeat;
    size: 100% 100%;
    image: url("#{$img-base}game-border.png");
  };
  margin-top: 15px;
  .inline-box {
    vertical-align: top;
  }
  .calendar-box {
    width: 550px;
    text-align: center;
    .feb {
      width: 250px;
      font-size: 16px;
      color: $theme-color;
      letter-spacing: 4px;
      font-weight: bold;
      margin: 25px auto 15px;
      height: 30px;
      line-height: 30px;
      background: url("#{$img-base}563left.png") left center no-repeat,
                  url("#{$img-base}563right.png") right center no-repeat;
      background-size: 26px 30px;
      span {
        font-size: 24px;
      }
    }
    .table {
      margin: 0 auto;
      line-height: 30px;
    }
    th{
      width: 64px;
      color: $theme-color;
      font-size: 16px;
    }
    td{
      font-size: 16px;
      cursor: pointer;
      .inner-date {
        width: 30px;
        height: 30px;
        margin: 0 auto;
      }
      &.active{
        .inner-date{
          @include td-hover;
        }
        
      }
      &:hover {
        .inner-date {
          @include td-hover;
        }
      }
    }
  }
  .game-lists {
    float: right;
    padding: 25px 59px 25px 20px;
    width: 570px;
    font-size: 16px;
    .game-list {
      line-height: 45px;
      .game-title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 360px;
        display: inline-block;
        vertical-align: middle;
        float: left;
        .game-icon {
          width: 8px;
          height: 16px;
          vertical-align: middle;
          margin: -4px 10px 0 0;
        }
      }
      .date {
        float: right;
        color: $date-color;
        vertical-align: middle;
      }
    }
  }
  &.house {
    background-image: none;
    .swiper-pagination {
      bottom: -7px;
    }
  }
  .game-house {
    text-align: center;
    width: 368px;
    margin-right: 18px;
    display: inline-block;
    margin-bottom: 30px;
    transition: all 0.3s linear;
    &:last-child {
      margin-right: 0;
    }
    .house-img {
      width: 368px;
      height: 207px;
      @include base-bg;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .house-name {
      height: 93px;
      line-height: 93px;
      overflow: hidden;
      color: #303030;
      font-size: 16px;
      transition: all 0.3s linear;
    }
    &:hover {
      box-shadow: 0px 0px 20px #dadada;
      .house-name {
        background: url("#{$img-base}events/left.png") left center no-repeat,url("#{$img-base}events/right.png") right center no-repeat #fff;
        color: $theme-color;
      }
    }
  }
  &.project {
    .game-house {
      width: 260px;
      height: 360px;
      position: relative;
      margin-right: 33px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        .house-name {
          background-size: auto 90%;
        }
      }
    }
    .house-img {
      width: 260px;
      height: 360px;
    }
    .house-name {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 60px;
      line-height: 60px;
    }
  }
}
