.contestEvent{
    margin-top: 20px;
    .e-bolck{
        cursor: pointer;
        position: relative;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #303030;
        padding-bottom: 20px;
        padding-top: 20px;
        overflow: hidden;
        
        .title{
             width: 260px;
             margin-left: -130px;
            position: absolute;
            bottom: 44px;
            left: 50%;
            text-align: center;
            &:hover{
             font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #3775bd;
                cursor: pointer;
                height: 60px;
                line-height:60px;   
                background: url("#{$img-base1}events/left.png") left center no-repeat,url("#{$img-base1}events/right.png") right center no-repeat #fff;
                background-size: contain;
                border-radius: 0px 0px 4px 4px;
                 transform:translateY(-20px);
                 bottom: 0px;
        }
        }
        .divImg{
            
            img{
                display: block;
                width: 260px;
                height: 360px;
                background-color: #a3c9f5;
                border-radius: 4px;
                margin: 0 auto;
                 &:hover{
                    box-shadow: 0px 0px 20px #dadada;
                }
            }
            &:hover{
                    box-shadow: 0px 0px 20px #dadada;
                }

        }
        .divImg:hover+.title{
             font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #3775bd;
                cursor: pointer;
                height: 60px;
                line-height:60px;   
                background: url("#{$img-base1}events/left.png") left center no-repeat,url("#{$img-base1}events/right.png") right center no-repeat #fff;
                background-size: contain;
                border-radius: 0px 0px 4px 4px;
                 transform:translateY(-20px);
                 bottom: 0px;
        }
        
        
    }
    
}