@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],

input[type="reset"],

input[type="button"],

input{-webkit-appearance:none; resize: none;outline:none ;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}
/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
vertical-align: top;
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;box-sizing: border-box;}
body{font-family:"Microsoft Yahei",Tahoma,"Lucida Grande",Verdana,STXihei,hei;background:#fffef7!important;height: 100%;overflow:auto;font-size:14px;
}
body,html{overflow-x:hidden;height: 100%;}
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
body a{text-decoration:none; color:#303030; font-family:Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:hover{ text-decoration:none;color: #57a3f3;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: Microsoft YaHei;}
img{border: none;width: 100%;}
html{overflow-x:hidden;}
#app {
  width: 100%;
  /*height: 100%;*/
  background: url("../../static/images/banner.png") center top no-repeat, url("../../static/images/hose.png") center bottom no-repeat;
  background-size: 100% auto;
}
.copy-right {
  text-align: center;
  font-size: 16px;
  padding: 2.2968rem 0 0.29166rem;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: url("../../static/images/1.png") center center no-repeat;
  background-size: 0.104167rem 0.104167rem;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-image: url("../../static/images/2.png");
}
.swiper-pagination.swiper-pagination-bullets {
  bottom: 0px;
}
.new-banner .swiper-pagination.swiper-pagination-bullets{
  text-align: right;
  padding-bottom: 20px;
  padding-right: 20px;
}

/*.new-banner .swiper-pagination-bullet{*/
  /*background-size: 0.1rem 0.1rem;*/
  /*width: 0.07291rem;*/
  /*height: 0.07291rem;*/
/*}*/
.m-pages .ivu-page-item {
  border: none;
  background: none;
}
.m-pages .ivu-page-item-active {
  border-radius: 50%;
  background: #3775BD;
}
.m-pages .ivu-page-item-active a {
  color: #fff;
}
.m-pages .ivu-page-prev, .m-pages .ivu-page-next{
  border: none;
  background: url("../../static/images/right-icon.png") center no-repeat;
  background-size: 0.1rem 0.104rem;
}
.m-pages .ivu-page-prev i, .m-pages .ivu-page-next i{
  display: none;
}
.m-pages .ivu-page-next {
  background-image: url("../../static/images/left-icon.png");
}
[v-cloak] {
  display: none;
}
.no-data {
  width: 1.8229rem;
  height: 2.1719rem;
  margin: 20px auto 0.26rem;
}
.jalousie-detail .no-data {
  width: 0.6076rem;
  height: 0.7239rem;
  margin: 0.1rem auto;
}
.home-news-content .no-data {
  width: 0.91145rem;
  height: 1.08595rem;
  margin-top: 0.26rem;
}
.a-no-data {
  height: 70%;
  width: auto;
  margin: 0.1rem auto;
  text-align: center;
}
.a-no-data img {
  height: 100%;
  width: auto;
}
.red {
  color: #FF0000;
}
.ivu-carousel-dots.ivu-carousel-dots-inside {
  bottom: 0.167rem;
}
.pic-show .ivu-carousel-dots.ivu-carousel-dots-inside {
  bottom: 0.07rem;
}
.game-content .ivu-carousel-dots.ivu-carousel-dots-inside {
  bottom: 0rem;
}
.game-content .ivu-carousel-track.higher {
  width: 5.9375rem;
}
.ivu-carousel-dots.ivu-carousel-dots-inside li {
  width:0.1042rem;
  height: 0.1042rem;
}
.ivu-carousel-dots.ivu-carousel-dots-inside li button {
  width: 0.1042rem;
  height: 0.1042rem;
  background: url("../../static/images/1.png") center center no-repeat;
  background-size:0.1042rem;
  opacity: 1;
}
.ivu-carousel-dots.ivu-carousel-dots-inside li.ivu-carousel-active >button {
  background: url("../../static/images/2.png") center center no-repeat;
  background-size:0.1042rem;
  width: 0.1042rem;
}
.new-banner .ivu-carousel-dots-inside {
  text-align: right;
  padding-right: 0.1042rem;
}
.ivu-carousel-item {
  position: relative;
}

.admin-pwd {
  border: 1px solid #3775BD;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}
body.info .ivu-modal-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
body.info .ivu-modal-wrap .ivu-modal{
  top: 0;
}
