@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],

input[type="reset"],

input[type="button"],

input{-webkit-appearance:none; resize: none;outline:none ;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}
/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
vertical-align: top;
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;box-sizing: border-box;}
body{font-family:"Microsoft Yahei",Tahoma,"Lucida Grande",Verdana,STXihei,hei;background:#fff;height: 100%;overflow:auto;font-size:14px;}
body,html{overflow-x:hidden;height: 100%;}
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#303030; font-family:Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:hover{ text-decoration:none;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: Microsoft YaHei;}
img{border: none;width: 100%;}
html{overflow-x:hidden;}
#app {
  width: 100%;
  /*height: 100%;*/
  background: url("../../static/images/banner.png") center top no-repeat, url("../../static/images/hose.png") center bottom no-repeat;
  background-size: 100% auto;
}
.copy-right {
  text-align: center;
  font-size: 16px;
  padding: 2.2968rem 0 0.29166rem;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: url("../../static/images/1.png") center center no-repeat;
  background-size: 0.104167rem 0.104167rem;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-image: url("../../static/images/2.png");
}
.swiper-pagination.swiper-pagination-bullets {
  bottom: 0px;
}
.new-banner .swiper-pagination.swiper-pagination-bullets{
  text-align: right;
  padding-bottom: 20px;
  padding-right: 20px;
}
/*.new-banner .swiper-pagination-bullet{*/
  /*background-size: 0.1rem 0.1rem;*/
  /*width: 0.07291rem;*/
  /*height: 0.07291rem;*/
/*}*/
.m-pages .ivu-page-item {
  border: none;
}
.m-pages .ivu-page-item-active {
  border-radius: 50%;
  background: #3775BD;
}
.m-pages .ivu-page-item-active a {
  color: #fff;
}
.m-pages .ivu-page-prev, .m-pages .ivu-page-next{
  border: none;
  background: url("../../static/images/right-icon.png") center no-repeat;
  background-size: 0.1rem 0.104rem;
}
.m-pages .ivu-page-prev i, .m-pages .ivu-page-next i{
  display: none;
}
.m-pages .ivu-page-next {
  background-image: url("../../static/images/left-icon.png");
}
