.msg-service {
  margin-top: 283px;
  position: relative;
  .meet-in-neimoongu {
    position: absolute;
    width: 693px;
    height: 111px;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    background: url("#{$img-base}meet-neimenggu.png") center no-repeat;
    background-size: 693px 111px;
  }
  .msg-left {
    width: 720px;
    height: 445px;
    padding-top: 43px;
    float: left;
    .new-banner {
      background: #FFFEF7;
      width: 720px;
      height: 405px;
      overflow: hidden;
      position: relative;
      img {
        width: 720px;
        height: 405px;
      }
  
      .thumb-title {
        position: absolute;
        width: 100%;
        height: 80px;
        line-height: 80px;
        color: #fff;
        font-size: 20px;
        left: 0;
        bottom: 0;
        padding: 0 20px;
        @include base-bg;
        background-image: url("#{$img-base}box-gilit.png");
      }
      .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        @include base-bg;
        background-image: url("#{$img-base}1.png");
      }
      .swiper-slide {
        position: relative;
      }
    }
  }
  .msg-right {
    width: 470px;
    float: right;
    &.no-wish {
      padding-top: 40px;
    }
    .wish {
      width: 470px;
      height: 40px;
      background: rgba(55,117,189,0.7);
      color: #fff;
      line-height: 40px;
      padding: 0 15px 0 9px;
      display: block;
      margin-bottom: 3px;
      border-radius: 4px;
    }
    .wish-run {
      width: 380px;
      overflow: hidden;
      position: relative;
      height: 40px;
      .run-text {
        white-space: nowrap;
        position: absolute;
        left: 0;
        animation: wishRun 10s linear infinite;
        font-size: 14px;
      }
    }
    .news-content {
      background: url("#{$img-base}top-border.png") center top no-repeat,
      url("#{$img-base}bottom-border.png") center bottom no-repeat #FFFEF7;
      background-size: 470px auto;
      //background-color: #FFFEF7;
      padding: 18px 0;
      box-shadow: 0 0 15px rgba(0,0,0,0.05);
      height: 405px;
      border-radius: 4px;
      .line-item {
        padding: 0 30px 5px;
        .line-title {
          font-size: 22px;
          width: 410px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 9px 0 0px;
          font-weight: 700;
        }
        .line-detail {
          line-height: 25px;
          height: 50px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          color: $font-g;
          font-size: 14px;
        }
      }
      .topline-list {
        padding: 0 30px;
        .lines {
          padding-left: 15px;
          width: 410px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          position: relative;
          line-height: 34px;
          font-size: 16px;
          &:after {
            @include pseudo-class;
            width: 3px;/*no*/
            height: 3px;/*no*/
            background: $theme-color;
            left: 0;
          }
        }
      }
    }
  }
}

@keyframes wishRun {
  0% {
    transform: translateX(390px);
  }
  100% {
    transform: translateX(-100%);
  }
}
